<b>Week 1 - Python Basics</b>

The aim of this tutorial is to learn Python programming language's basic concepts. Also your lecture slides has some references, please feel free to look at them. This tutorial has been compiled from multiple sources from the internet.

<b>Variables</b>

In [1]:
a = (1,2,3)
b = [2,1,3]
print(a)
print(a[0])
print(b[0])
b.append(1)
print(b)

(1, 2, 3)
1
2
[2, 1, 3, 1]

In [2]:
print(a[2])

3

In [3]:
# some examples
a = 6
b = 10
c = a + b
print (a, b, c)

6 10 16

In [4]:
# example of string variable; you can store string literals in either way as shown below
string_var = "Hello World!"
another_string_var = 'Hello World!'
print (string_var, another_string_var)

Hello World! Hello World!

<b>Functions</b>

In [5]:
# example
def add_numbers(a,b):
    return a+b

print (add_numbers(5,6))

11

add_numbers updated to take an optional 3rd parameter. Using print allows printing of multiple expressions within a single cell.

In [6]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

add_numbers updated to take an optional flag parameter.

In [7]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, 4, flag=True))

Flag is true!
7

Assign function add_numbers to variable a.

In [8]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

3

<b>Types and sequences</b>

Use type to return the object's type.

In [9]:
type('This is a string')

str

In [10]:
type(None)

NoneType

In [11]:
a = 1
type(a)

int

In [12]:
type(1.0)

float

In [13]:
a_fn = add_numbers
type(a_fn)

function

Tuples are an immutable data structure (cannot be altered).

In [14]:
x = (1, 'a', 2, 'b')
type(x)

tuple

Lists are a mutable data structure.

In [15]:
x = [1, 'a', 2, 'b']
type(x)

list

Use append to append an object to a list.

In [16]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

This is an example of how to loop through each item in the list.

In [17]:
for item in x:
    print(item)

1
a
2
b
3.3

Or using the indexing operator:

In [18]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

Use + to concatenate lists.

In [19]:
[1,2] + [3,4]

[1, 2, 3, 4]

Use * to repeat lists.

In [20]:
[1]*3

[1, 1, 1]

Use the in operator to check if something is inside a list.

In [21]:
1 in [1, 2, 3]

True

Now let's look at strings. Use bracket notation to slice a string.

In [22]:
x = 'This is a string'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters

T
T
Th

This will return the last element of the string.

In [23]:
x[-1]

'g'

This will return the slice starting from the 4th element from the end and stopping before the 2nd element from the end.

In [24]:
x[-4:-2]

'ri'

This is a slice from the beginning of the string and stopping before the 3rd element.

In [25]:
x[:3]

'Thi'

And this is a slice starting from the 4th element of the string and going all the way to the end.

In [26]:
x[3:]

's is a string'

In [27]:
firstname = 'Smita'
lastname = 'Ghosh'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Smi' in firstname)

Smita Ghosh
SmitaSmitaSmita
True

split returns a list of all the words in a string, or a list split on a specific character.

In [28]:
firstname = 'Smita Ghosh Santa Clara University'.split(' ')[0] # [0] selects the first element of the list
lastname = 'Smita Ghosh Santa Clara University'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)

Smita
University

Make sure you convert objects to strings before concatenating.

In [29]:
'Smi' + 2

TypeError: can only concatenate str (not "int") to str

In [30]:
'Shiv' + str(2)

'Shiv2'

Dictionaries associate keys with values.

In [31]:
x = {'Smita Ghosh': 'sghosh3@scu.edu', 'Bill Gates': 'billg@microsoft.com', 'Harry Potter': 'harry@hogwarts.edu'}
x['Smita Ghosh'] # Retrieve a value by using the indexing operator

'sghosh3@scu.edu'

In [32]:
x['Benjamin Button'] = None
x['Benjamin Button']

Iterate over all of the keys:

In [33]:
for name in x:
    print(x[name])

sghosh3@scu.edu
billg@microsoft.com
harry@hogwarts.edu
None

Iterate over all of the values:

In [34]:
for name, email in x.items():
    print(name)
    print(email)

Smita Ghosh
sghosh3@scu.edu
Bill Gates
billg@microsoft.com
Harry Potter
harry@hogwarts.edu
Benjamin Button
None

You can unpack a sequence into different variables:

In [35]:
x = ('Smita', 'Ghosh', 'sghosh3@scu.edu')
fname, lname, email = x

In [36]:
fname

'Smita'

In [37]:
lname

'Ghosh'

Make sure the number of values you are unpacking matches the number of variables being assigned.

In [38]:
x = ('Smita', 'Ghosh', 'sghosh3@scu.edu', 'Santa Clara')
fname, lname, email = x

ValueError: too many values to unpack (expected 3)

<b>Objects and map()</b>

An example of a class in python:

In [39]:
# Not very important now
class Person:
    department = 'Mathematics and Computer Science' #a class variable

    def set_name(self, new_name): #a method
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [40]:
# just showing how to use!
person = Person()
person.set_name('Smita Ghosh')
person.set_location('Santa Clara, CA, USA')
print('{} lives in {} and works in the department {}'.format(person.name, person.location, person.department))

Smita Ghosh lives in Santa Clara, CA, USA and works in the department Mathematics and Computer Science

Here's an example of mapping the min function between two lists.

In [41]:
# Example of how list is used
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
tuple(cheapest)

(9.0, 11.0, 12.34, 2.01)

Now let's iterate through the map object to see the values.

In [42]:
for item in cheapest:
    print(item)

<b>Lambda and List Comprehensions</b>

Here's an example of lambda that takes in three parameters and adds the first two.

In [43]:
# function that is defined without a name is lambda function
my_function = lambda a, b, c : a + b

In [44]:
my_function(1, 2, 3)

3

Let's iterate from 0 to 99 and return the even numbers.

In [45]:
my_list = []
for number in range(0, 100):
    if number % 2 == 0:
        my_list.append(number)
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

Now the same thing but with list comprehension.

In [46]:
my_list = [number for number in range(0,1000) if number % 2 == 0]
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

In [47]:
import pandas as pd

data = {
  "calories": [420, 380, 390, 780, 650, 430],
  "duration": [50, 40, 45, 45, 48, 34]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45
3       780        45
4       650        48
5       430        34

In [48]:
df.head()

   calories  duration
0       420        50
1       380        40
2       390        45
3       780        45
4       650        48

In [49]:
X = df.iloc[:,:1]
print(X)
Y = df.iloc[:,1:]
print(Y)

   calories
0       420
1       380
2       390
3       780
4       650
5       430
   duration
0        50
1        40
2        45
3        45
4        48
5        34